<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>С наступающим Новым Годом, <%= @user.name_user %> !!!</h1>
<p>
  Ваше пожелание на Новый Год: <%= @user.wish %>.<br>
</p>
<p>
  Вы дарите подарок:
</p>
<p>Спасибо, что воспользовались нашим сервисом!</p>
</body>
</html>