
<%= link_to :controller => :groups do %>
  <button class="button">Создать команду по спасению Нового Года</button>
<% end %>
<%= link_to :controller => :users do %>
  <button class="button">Войти в существующую команду</button>
<% end %>
<%= link_to :controller => :emails do %>
  <button class="button">Распределить Тайных Сант</button>
<% end %>